//@ import type { User, Cart } from '../../types/models.js'
//@ expect { user: User, cart: Cart }

extends ../layout.pug

include ../_orderOverview.pug

block headContent
  link(rel="stylesheet", href="/css/cart/orderhistory.css")

block content
  +orderOverview(cart, user)
  p Welcome #{user.name} to your order history page!
  p elaba alles goed hier laliu
ddddvcvc